body{
    font-family: "Helvetica", sans-serif;
}

.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .timer{
        text-align: center;
        color: white;
        width: 150px;
        padding: 15px;
        background-color: #f57b51;
        border-radius: 3px 3px 0 0;
    }
    .buttons{
        text-align: center;
        width: 160px;
        padding: 10px;
        background: #f6eedf;
        border-radius: 0 0 3px 3px;
    }
    .stop, .start, .reset{
        border-style: none;
        border-radius: 3px;
        background-color: #f57b51;
        color: white;
        padding: 5px 7px;
        transition: background-color 0.5s ease-in-out; 
    }
    .reset:disabled{
        background-color: #c99280;
    }
}